* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #403798;
    background-color: #D6D6DA;
}
/* Header Style*/

header {
    background-color: #1B1A25;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #403798;
    margin: 0;
    display: inline;
}

header a {
    font-size: 25px;
    color: #403798;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
}

/* End Header Style*/

/* Footer Style */

footer h1 {
    font-weight: bold;
    font-size: 40px;
    color: #403798;
    margin: 0;
}

footer div {
    display: flex;
    justify-content: space-between;
    float: right;
    margin: 7px 0;
}

footer div ul li {
    display: inline;
    line-height: 3;
    margin: 20px 50px;
}

footer div ul li a {
    margin: 0 50px 0 0 ;
    color: #403798;
}

/* End Footer Style*/

/*Hero Style*/
.hero {
    background-image: url("../assets/clouds.jpg");
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* End Hero Style*/

.section-title {
    font-size: 35px;
    border-right: #403798 solid;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 30px 0 0 60px;
}

.section-content {
    width: 350px;
    display: inline-block;
    text-align: right;
    margin: 30px 0 0 60px;
}

.article p {
    line-height: 1.5;
    width: 350px;
    margin: 0;
    font-size: 30px;
    font-style: normal;
}
