* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #403798;
    background-color: #D6D6DA;
}
/* Header Style*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1B1A25;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #D6D6DA;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 1.55vw;;
    color: #D6D6DA;
}

/* End Header Style*/

/* Footer Style */

.contact-section {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-section ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;

}

.contact-section ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #403798;
} 

/* End Footer Style*/

/*Hero Style*/
.hero {
    background-image: url("../assets/images/clouds.jpg");
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero p {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 5px;
}

/* End Hero Style*/


.section-title {
    font-size: 35px;
    border-right: #403798 solid;
    /* width: 150px;
    vertical-align: top;
    text-align: center;
    margin: 30px 0 300px 100px;
    flex: 0 0 20%; */
}

.about-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-bottom: 20px;
   /* text-align: center; */
   /* margin: 0 auto 35px auto; */
   width: 80%;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 35%;
    text-align: right;
    /* margin: 3.5%; */
    margin-right: 20%;
    font-size: 18px;
    line-height: 1.3;
} 

.avatar img{
    width: 185px;
    height: 185px;
    margin-right: 50px;
}

.main-project img {
    width: 100%;
    height: 100%;
}

.main-project {
    width: 700px;
    height: 400px;;
    margin: 0 400px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
  }

  .main-project h3 {
    color:#D6D6DA;
    background-color: #403798;
    position: absolute;
    border-radius: 4px;
  }

  .work-section {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  

  .project {
    display: flex;
    /* flex-direction: row; */
    flex: 1;
    max-width: 350px;
    height: 200px;
    margin: 20px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
  }

  .project h3 {
      color:#D6D6DA;
      background-color: #403798;
      position: absolute;
      border-radius: 4px;
  }
  
  .project img {
    width: 100%;
    height: 195px;
  }
