* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #403798;
    background-color: #D6D6DA;
}
/* Header Style*/

header {
    background-color: #1B1A25;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #D6D6DA;
    margin: 0;
    display: inline;
}

header a {
    font-size: 25px;
    color: #D6D6DA;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
}

/* End Header Style*/

/* Footer Style */

footer {
    display: flex;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    align-items: center;

}

footer ul li {
    display: inline;
    margin: 0 25px;
    padding: 20px 35px;
}

footer ul li a {
    color: #403798;
} 

/* End Footer Style*/

/*Hero Style*/
.hero {
    background-image: url("../assets/images/clouds.jpg");
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero p {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 5px;
}

/* End Hero Style*/


.section-title {
    font-size: 35px;
    border-right: #403798 solid;
    width: 150px;
    vertical-align: top;
    text-align: center;
    margin: 30px 0 500px 100px;
    flex: 0 0 20%;
}

.about-section {
   display: flex;
   justify-content: space-between;
}

.about-section p {
    height: 200px;
    width: 250px;
    margin-right: 185px;
} 

.avatar img{
    width: 185px;
    height: 185px;
    margin-right: 50px;
}

.main-project img {
    width: 100%;
    height: 100%;
}

.main-project {
    width: 700px;
    height: 400px;;
    margin: 0 400px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
  }

  .main-project h3 {
    color:#D6D6DA;
    background-color: #403798;
    position: absolute;
    border-radius: 4px;
  }

  .projects {
    /* display: flex; */
  }

  .project {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: 200px;
    margin: 0 400px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
  }

  .project h3 {
      color:#D6D6DA;
      background-color: #403798;
      position: absolute;
      border-radius: 4px;
  }
  
  .project img {
    width: 100%;
    height: 195px;
  }
