* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #403798;
    background-color: #D6D6DA;
}
/* Header Style*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1B1A25;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: #D6D6DA;
    margin: 0;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;;
    color: #D6D6DA;
}

/* End Header Style*/

/* contact section */

.contact-section {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 7px 0;
}

.contact-section h2 {
    font-size: 35px;
    border-right: #403798 solid;
    margin: 10px 35px 5px 10px;
    flex: 0 0 20%;
}

.contact-section ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
    align-items: center;
    list-style: none;

}

.contact-section ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: #403798;
} 

/* end contact section*/


/*Hero Style*/
.hero {
    background-image: url("../assets/images/clouds.jpg");
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero p {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 5px;
}

/* End Hero Style*/

/* about section */

.section-title {
    font-size: 35px;
    border-right: #403798 solid;
    margin: 10px 35px 300px 10px;
    flex: 0 0 20%;
}

.about-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding-bottom: 20px;
   width: 80%;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 35%;
    text-align: right;
    font-size: 18px;
    line-height: 1.3;
} 

.avatar img{
    display: flex;
    flex-wrap: wrap;
    width: 185px;
    height: 185px;
}
/* end about section*/

/* project section */

.main-project img {
    width: 100%;
    height: 100%;
}

.main-project {
    width: 700px;
    height: 400px;;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
  }

  .main-project h3 {
    color:#D6D6DA;
    background-color: #403798;
    position: absolute;
    border-radius: 4px;
  }

  .work-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .small-projects {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 200px;
      justify-content: center;
  }
  

  .project {
    max-width: 350px;
    height: 200px;
    margin: 15px 10px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    overflow: hidden;
  }

  .project h3 {
      color:#D6D6DA;
      background-color: #403798;
      position: absolute;
      border-radius: 4px;
  }
  
  .project img {
    width: 100%;
    height: 195px;
  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    
      .contact-section, .contact-section h2 {
        text-align: center;
        width: 100%;
      }

      .contact-section ul li a {
        font-size: 20px;
      }

      .work-section {
        width: 80%;
      }

      .main-project {
        flex: 0 70%;
      }

      .main-project img {
        flex: 0 32%;
      }
      
      .project {
        flex: 0 70%;
      }

      /* .project img {
        flex: 0 32%;
        height: auto;
        width: 100%;
      } */
  }
  
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    
      .section-title {
        width: 95%;
        margin: 0;
      }
    
      .about-text {
        width: 100%;
      }

      .main-project {
        flex: 0 100%;
      }
    
      .project {
        flex: 0 100%;
      }

      .main-project img {
        flex: 0 100;
      }
      
      .project img {
        flex: 0 100%;
        height: auto;
        width: 100%;
      }
    
      .contact-section {
        text-align: center;
        flex: 0 100%;
      }
  }
